<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my_account</title>
</head>
<body>
{% for judge in my_account %}
    <li>{{ judge.course_name }}-{{ judge.course_teacher }}-{{ judge.comment_of_the_course}}-{{ judge.comment_of_the_teacher }}-{{ judge.the_constitution_of_grade }}-{{ judge.time_for_homework }}</li>
    <p>{{ judge.id }}</p>
<form action="/my_account/modify_judgement/" method="post">
    <p>课程id<input type="text" name="id"></p>
    <p>课程评价<input type="text" name="comment_of_the_course"></p>
    <p>老师评价<input type="text" name="comment_of_the_teacher"></p>
    <p>成绩组成<input type="text" name="the_constitution_of_grade "></p>
    <p>作业时间<input type="text" name="time_for_homework"></p>
    <p><input type="submit" value="submit"></p> </form>
{% endfor %}

</body>
</html>