{% extends 'log_sign/base.html' %}
{% load static %}

{% block title %}搜索{% endblock %}
{% block css %}<link href="{% static 'css/search_from.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}
<div class="container">
   <div class="img">
   </div>
    <div class="search">
     {% csrf_token%}
    <form action="/search_result/" method="post">
        <img src={% static "/img/xiaohui.png"  %} alt="">
        <input type="text" name="q" placeholder="请输入搜索条件">
        <button type="submit" value="搜索">搜索</button>
        <button type="submit" name="p" value ="人文学科">人文学科</button>
        <button type="submit" name="p" value ="社会科学">社会科学</button>
        <button type="submit" name="p" value ="自然科学">自然科学</button>
        <button type="submit" name="p" value ="技术科学">技术科学</button>
    </form>
    </div>
</div>
{% endblock %}