<!DOCTYPE html><html><head>
   <title>Bootstrap 实例 - 模态框（Modal）插件</title>
   <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
   <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script></head><body><h2>创建模态框（Modal）</h2><!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg" data-toggle="modal"
   data-target="#myModal">
   Start</button><!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;            </button>
            <h4 class="modal-title" id="myModalLabel">
               Title            </h4>
         </div>
         <div class="modal-body">
            Text        </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">Close            </button>
            <button type="button" class="btn btn-primary">
               Submit           </button>
         </div>
      </div><!-- /.modal-content --></div><!-- /.modal --></div>
</body>
</html>
