.navbar.navbar-default{
    margin: auto;

    background-color: dodgerblue;
    border-color: cornflowerblue;

    box-shadow: 2px 2px 5px #333333;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    -o-box-shadow: 2px 2px 5px #333333;

    filter: brightness(0.92);
    -webkit-filter: brightness(0.92);
}