.container{
    background: url("../img/bg-amb.png")no-repeat;
    /*background-attachment:fixed;*/

    margin: auto;
    padding: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
}

.label_input{
    font-size: 16px;
    font-family: 宋体;

    margin-bottom: 10px;

    width: 75px;
    height: 35px;
    line-height: 35px;
    text-align: center;

    color: white;
    background-color: rgba(30, 144, 255, 0.7);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.text_field{
    width: 200px;
    height: 35px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
}

.btn.btn-primary{
    /*font-size: 16px;*/
    /*font-family: 宋体;*/

    width: 100%;
    height: 35px;
    margin-top: 20px;
    /*line-height: 35px;*/
    /*text-align: center;*/

    /*color: white;*/
    /*background-color: rgba(30, 144, 255, 0.7);*/
    /*border-color: dodgerblue;*/
    /*border-radius: 3px;*/
    /*border: 0;*/
}

.form-login{
    background-color: rgba(245, 245, 245, 0.4);
    background-size: 80% 120%;
    /*border:none;*/

    box-shadow: 2px 2px 5px #333333;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;

    /*width: 330px;*/
    width: 100%;
    padding: 20px;
    /*padding-bottom: 50px;*/
    margin-top: 120px;
    /*margin-left: 90%;*/

    border-radius: 4px;
}

.form-login .form-control{
    position: relative;
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    font-size: 16px;
}

.form-login .form-control:focus{
    z-index: 2;
}

.form-login input[type="text"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
