#content-box{
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    display: inline;
    z-index: 10;
    width: 100%;
}

#user-box{
    margin-top: 20px;
    display: inline;
    float:left;
    margin-left: 5vw;
}

.user-info{
    text-align: center;
}

.picture{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

img{
    width: 100%;
}

#course-info{
    font-size: 20px;
    font-family: "微软雅黑 Light";
    font-weight: bold;
    text-decoration: none;
}

#course-info:link{
    color: #0f0f0f;
}

#course-info:hover{
    color: #9954BB;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.date{
    float: left;
}

.emphasize{
    display: inline-block;
    font-weight: bold;
    float: left;
}

.table{
    font-size: 15px;
    font-family: 宋体;
}

body{
    position: relative;
}

.error{
    font-size: 30px;
    font-family: 微软雅黑;
    font-weight: bold;
}

#icon1{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

#icon2{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

#icon3{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

#icon4{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

.rating{
    float: right;
    display: inline;
}

#bg{
    width: 100vw;

    background-color: whitesmoke;
    background-size: 100% 100%;
}

#add-button{
    font-family: 宋体;
    padding: 5px;
    width: 20%;
    font-size: 15px;
    display: inline;
    float: right;
    margin-right: 20px;
    background-color: black;
}

#delete-button{
    font-family: 宋体;
    padding: 5px;
    width: 20%;
    font-size: 15px;
    display: inline;
    float: right;
    margin-right: 20px;
    background-color: black;
}

.form-control{
    width: 80%;
    display: inline;
    float: right;
}
