.container{
    background: url("../img/bg-amb.png") no-repeat;
    background-size: 100% 100%;

    margin: auto;
    padding: 0;
    border: none;
    height: 100vh;
    width: 100vw;
}

.btn.btn-primary{
    width: 100%;
    height: 35px;
    margin-top: 20px;
}

.text-center{
    margin-bottom: 20px;
    font-size: 25px;
}

.col-sm-3.control-label{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    font-size: 18px;
}

.col-sm-9{
    height: 40px;
    line-height: 40px;
}

.form-group{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.tip{
    margin-left: 28%;
    margin-bottom: 10px;
    font-size: 15px;
    color: #ac2925;
}

.form-login{
    background-color: rgba(245, 245, 245, 0.4);
    background-size: 100% 100%;

    width: 440px;
    padding: 20px;
    display: inline-block;

    box-shadow: 2px 2px 5px #333333;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    -o-box-shadow: 2px 2px 5px #333333;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#register-box{
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#login-box{
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-login .form-control{
    margin: 3px 0;
    padding: 5px;
    width: 100%;
    height: auto;
    font-size: 16px;
    position: relative;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-login .form-control:focus{
    z-index: 2;
}

.form-login input[type="text"]{
    margin-bottom: -1px;
}

.form-login input[type="password"]{
    margin-bottom: 10px;
}
