#content-box{
    margin-top: 20px;
    padding: 0;
    display: block;
    z-index: 10;
}
/*.container{*/
/*    margin: auto auto;*/
/*}*/

.picture{
    margin-top: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 100%;
}

#course-info{
    text-decoration: none;
    font-size: 20px;
    font-family: "微软雅黑 Light";
    font-weight: bold;
}

#course-info:link{
    color: #0f0f0f;
}

#course-info:hover{
    color: #9954BB;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.date{
    float: right;
}

.emphasize{
    font-weight: bold;
    float: left;
}

.table{
    font-size: 15px;
    font-family: 宋体;
}

body{
    position: relative;
}

.error{
    font-size: 30px;
    font-family: 微软雅黑;
    font-weight: bold;
}

#icon1{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

#icon2{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

#icon3{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

#icon4{
    font-size: 15px;
    color: steelblue;
    padding: 5px;
    font-family: 宋体;
    font-weight: bold;
    margin-right: 10px;
}

.rating{
    float: right;
    display: inline;
}

#pic-box{
    /*width: 20vw;*/
    height: 25vw;
    background: url("../img/shuiyin.jpg")no-repeat;
    background-size: 100% 100%;

    position: fixed;
    bottom: 30px;
    z-index: 5;
}

#bg{
    width: 100vw;
    background-color: whitesmoke;
    background-size: 100% 100%;
}

#add-button{
    padding: 7px;
    font-size: 16px;
    background-color: black;
}
