.container{
  background: url("../img/bg-amb.png")no-repeat;
  /*background-attachment:fixed;*/

  margin: auto;
  padding: 0;
  border:none;
  height: 100vh;
  width:100vw;
  background-size:100% 100%;
}
.img{
    background:url("../img/xiaohui.png" );
    background-size:100% 100%;
    position:absolute;
    height: 20vh;
    width:30vw;
    top:30%;
    left:30%;
}
div.search{
   height: 60px;
   width: 700px;
    position:absolute;
    top:50%;
    left:26%;
  }
  div.search form input:nth-child(2){
   width: 550px;
   height: 60px;
   font-size: 30px;
   text-indent: 40px;
   /*border: none;*/
      border-radius: 10px;
   float: left;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
  }
   div.search form button:nth-child(3){
   width: 150px;
   height: 60px;
   font-size: 30px;
   letter-spacing: 5px;
   /*border: none;*/
       border-radius: 10px;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
  }
     div.search form img{
   position: absolute;
   left: 50vw;
   transform: translateX(-250px);
   margin-top: 10px;
   margin-left: 10px;
   height: 20px;
         display:none;
  }